absl-py==2.3.1
accelerate==1.11.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
anyio==4.11.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.14.2
bitsandbytes==0.48.2
bleach==6.2.0
Brotli==1.1.0
cached-property==1.5.2
cachetools==6.2.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.1
colorama==0.4.6
comm==0.2.1
contourpy==1.3.2
cryptography==46.0.2
cycler==0.12.1
datasets==4.4.1
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
evaluate==0.4.6
exceptiongroup==1.2.0
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.13.1
fonttools==4.59.2
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2024.6.1
google==3.0.0
google-auth==2.41.1
google-colab==1.0.0
grpcio==1.75.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
hyperframe==6.1.0
idna==3.10
imageio==2.37.0
importlib_metadata==8.7.0
ipykernel==6.29.5
ipython==8.30.0
ipywidgets==8.1.7
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
lark==1.3.0
lazy_loader==0.4
Markdown==3.9
MarkupSafe==2.1.5
matplotlib==3.10.6
matplotlib-inline==0.1.6
mistune==3.1.4
mpmath==1.3.0
multidict==6.6.3
multiprocess==0.70.18
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.2
notebook==7.4.7
notebook_shim==0.2.4
numpy==2.2.6
nvidia-ml-py==13.580.82
nvitop==1.5.3
overrides==7.7.0
packaging==25.0
pandas==2.3.2
pandoc==2.4
pandocfilters==1.5.0
parso==0.8.4
peft==0.17.1
pillow==11.3.0
pip==25.2
platformdirs==4.3.7
plumbum==1.10.0
ply==3.11
portpicker==1.6.0
prometheus_client==0.23.1
prompt-toolkit==3.0.43
propcache==0.3.1
protobuf==6.33.0
psutil==7.0.0
pure_eval==0.2.3
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
Pygments==2.19.1
pyOpenSSL==22.0.0
pyparsing==3.2.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2025.2
pyu2f==0.1.5
pywin32==311
pywinpty==2.0.15
PyYAML==6.0.3
pyzmq==26.2.0
referencing==0.36.2
regex==2025.11.3
requests==2.32.5
rfc3339_validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rouge_score==0.1.2
rpds-py==0.27.1
rsa==4.9.1
safetensors==0.6.2
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
Send2Trash==1.8.3
setuptools==78.1.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
stack_data==0.6.3
sympy==1.13.3
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2025.5.10
tinycss2==1.4.0
tokenizers==0.22.1
tomli==2.3.0
torch==2.8.0+cu128
torchvision==0.23.0+cu128
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.1
types-python-dateutil==2.9.0.20251008
typing_extensions==4.15.0
typing_utils==0.1.0
tzdata==2025.2
uri-template==1.3.0
urllib3==2.5.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
win_inet_pton==1.1.0
windows-curses==2.4.1
xxhash==3.6.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.23.0
